/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;   
    outline: none;
    outline-offset: 0;
    font-family: 'Inter','sans-serif';
    overflow-x: clip;
    text-transform: capitalize;
    box-sizing: border-box;
}
:root {
    --bg:#eaeaec;
    --blue:#58A5FF;
}
html {
    background-color: var(--bg);
    overflow-x: clip;
}